@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #E5E7EB;
  color: #003882;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input {
  color-scheme: light;
}

.dark input {
  color-scheme: dark;
}

/* Custom Animation Utility */
.shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}